*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img{
  height: 200px;
}

[class*='col-']{
  text-align: center;
  padding: 2%
}

.title{
  margin-top: 10%;
  margin-bottom: 2%;
}

.why img{
  background-color: #428bca;
  border-radius: 50%;
  padding: 5%;
}

.why > [class*='col-']:after{
  content:'';
  width: 100%;
  height: 1px;
  background-color: #000;
}
